{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<h1>Graph Calculator</h1>
<p>Welcome to my graph calculator web-app. Before you begin, I just want you to note that I am not normally
    a web developer, nor am I a front end developer/designer. As a result this page is pretty ugly, but it 
    does what it needs to.

    Instructions on how to use this are located in the "about" section below.
</p>
<ul>
    <li>
        <a href="/about">About</a>
    </li>
    <li>
        <a href="/graph">Begin Graphing</a>
    </li>
</ul>
{% endblock %}